Django==2.2.24
PyJWT==1.5.3
Werkzeug==0.14.1
certifi==2018.1.18
chardet==3.0.4
django-cors-headers==2.1.0
django-eventstream==2.0.0
django-grip==1.8.0
djangorestframework==3.7.7
gripcontrol==3.2.1
idna==2.6
lpthw.web==1.1
psycopg2==2.7.3.2
pubcontrol==2.4.2
pymongo==3.6.0
requests==2.18.4
six==1.11.0
urllib3==1.22
